@charset "UTF-8";

/* SAGE2 is available for use under the SAGE2 Software License
 *
 * University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
 * and University of Hawai'i at Manoa's Laboratory for Advanced Visualization and
 * Applications (LAVA)
 *
 * See full text, terms and conditions in the LICENSE.txt included file
 *
 * Copyright (c) 2014
 */

/* CSS Document */

@import url('fonts.css');

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
}

p, label, span {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 12px;
}

ul {
	padding: 0;
	margin-left: 20px;
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 12px;
}

li {
	list-style: disc outside none;
	display: list-item;
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 12px;
}

input, button {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 11px;
}


/* Dialog (sagePointer lock) */
dialog {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	margin:0 auto;
}
/* background behind the dialogs */
dialog::backdrop {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
}
/* Dialog for the fileBrowser */
#lb_light {
    width: 50%;
    height: 50%;
}

#lb_pointer_help {
    width: 50%;
}


#wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #FFFFFF;
}

#uiWindow {
	margin-top: 10px;
}

#extraInteraction {
	overflow: auto;
}

#fileUpload {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	width: 250px;
	height: 70px;
	text-align: left;
	border: solid 1px #000000;
	background-color: #FFFFFF;
}

#fileDrop {
	width: 245px;
	height: 40px;
	margin-bottom: 5px;
	text-align: center;
	line-height: 18px;
	border: dashed 3px #54C238;
}

#sagePointer, #screenShare, #openWebpage, #layout {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	width: 250px;
	height: 70px;
	text-align: left;
	border: solid 1px #000000;
	background-color: #FFFFFF;
}

#sagePointerLabel {
	width: 120px;
}

#sagePointerColor {
	width: 60px;
}

#fileBrowser {
	width: 100%;
	height: 85%;
	background-color: #D9D9D9;
}

#fileTreeList {
	width: 60%;
	height: 100%;
	float: left;
	border-right: solid 1px #000000;
	white-space: nowrap;
	overflow: scroll;
}

#metadata {
	width: 39%;
	height: 100%;
	float: right;
	text-align: center;
}

#thumbnail {
	max-width: 90%;
	max-height: 90%;
	margin-top: 5%;
}

#fileButtons {
	text-align: left;
	margin: 5px;
}

#textWidthTest {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 12px;
	position: absolute;
	visibility: hidden;
	height: auto;
	width: auto;
}

footer {
	color: #BBBBBB;
	margin: 5px;
	left: 10px;
	text-align: left;
    bottom: 0;
    position: fixed;
    white-space: nowrap;
    width: 100%;
	overflow: scroll;
	z-index:-10;
}

footer li {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	list-style: none outside none;
}

.fileLabel {
	display:inline-block;
    width:125px;
    text-align: right;
    padding: 3px 5px 0px 0px;
}

.sageLabel {
	display:inline-block;
    width:110px;
    text-align: right;
    padding: 3px 10px 3px 0px;
}

.fileItem {
	cursor: default;
}

.lb_blackoverlay {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index: 1001;
	opacity: .65;
	cursor: default;
}

.lb_whiteboxcontainer {
	display: none;
	position: absolute;
	top: 25%;
	left:25%;
	height: 50%;
	width: 50%;
	border: 4px solid #AAAAAA;
	background-color: #FFFFFF;
	z-index:1002;
	overflow: scroll;
	cursor: default;
}

.lb_whitecontent {
	text-align: left;
}


/***********************************************/
.css-treeview {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 11px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.css-treeview ul,
.css-treeview li {
	padding: 0px;
	margin: 6px 3px 0px 3px;
	list-style: none;
}

.css-treeview input {
	position: absolute;
	opacity: 0;
}

.css-treeview label {
	cursor: pointer;
	font-size: 12px;
}

.css-treeview input + label {
	background: url('../images/dir-closed.png') no-repeat;
    padding: 3px 0px 3px 42px;
    background-position: 0px 0px;
}

.css-treeview input:checked + label {
	background: url('../images/dir-open.png') no-repeat;
}

.css-treeview input ~ ul {
	margin: 0px;
	display: none;
}

.css-treeview input ~ ul > li {
	margin: 0px;
	padding: 0px 0px 0px 46px;
}

.css-treeview input:checked ~ ul {
	display: block;
}
