@charset "UTF-8";

/* SAGE2 is available for use under the SAGE2 Software License
 *
 * University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
 * and University of Hawai'i at Manoa's Laboratory for Advanced Visualization and
 * Applications (LAVA)
 *
 * See full text, terms and conditions in the LICENSE.txt included file
 *
 * Copyright (c) 2014
 */

/* CSS Document */

@import url('fonts.css');

* {
	margin: 0;
	padding: 0;
}

body {
	min-width: 115px;
	text-align: center;
	background-color: #EDEDED;
}

p, label, span {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 12px;
}

input, button {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 11px;
}
	
#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#topBlock {
	width: 100%;
	text-align: left;
	padding-top: 12px;
}

#topText {
	float: left;
	margin-left: 10px;
}

#topBtns {
	float: left;
	margin-left: 10px;
}

#fileDrop {
	width: 96%;
	margin-top: 12px;
	margin-left: 2%;
	text-align: center;
	border: solid 1px #000000;
}

#settings {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #EDEDED;
	text-align: left;
	z-index: 1001;
}

#settingsOKBtn {
	margin-left: 10px;
}

.sageLabel {
	display:inline-block;
    width:110px;
    text-align: right;
    padding: 3px 10px 3px 0px;
}

.clear {
	clear: both;
}


/*
#window {
	margin: 20px 0px 0px 0px;
}

#fileUpload {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	width: 250px;
	height: 70px;
	text-align: left;
	border: solid 1px #000000;
}

#fileDrop {
	width: 245px;
	height: 40px;
	margin-bottom: 5px;
	text-align: center;
	line-height: 40px;
	border: dashed 3px #54C238;
}

#sagePointer {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	width: 250px;
	height: 70px;
	text-align: left;
	border: solid 1px #000000;
}

#screenShare {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	width: 250px;
	height: 70px;
	text-align: left;
	border: solid 1px #000000;
}

#sagePointerLabel {
	width: 120px;
}

#sagePointerColor {
	width: 60px;
}

#fileTreeList {
	width: 95%;
	height: 85%;
	overflow: scroll;
	background-color: #D9D9D9;
}

#fileButtons {
	text-align: left;
	margin: 10px;
}

.fileLabel {
	display:inline-block;
    width:125px;
    text-align: right;
    padding: 3px 5px 0px 0px;
}

.sageLabel {
	display:inline-block;
    width:110px;
    text-align: right;
    padding: 3px 10px 3px 0px;
}

.lb_blackoverlay {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index: 1001;
	opacity: .65;
	cursor: default;
}

.lb_whiteboxcontainer {
	display: none;
	position: absolute;
	top: 25%;
	left:25%;
	height: 50%;
	width: 50%;
	border: 4px solid #AAAAAA;
	background-color: #FFFFFF;
	z-index:1002;
	overflow: scroll;
	cursor: default;
}

.lb_whitecontent {
	position: static;
	text-align: left;
	margin: 10px;
}
*/
